.CreateShopButton {
    background-color: #e2addb;   /* BOTON DE COMPRA*/
    border: 2px solid #bf71d9;
    border-radius: 10%;
    padding: 0.5%;

}
  
/* .CreateShopButton:hover {
    transform: rotate(224deg);
  } */