form { /*fondo*/
    width: 90%;
    max-width: 500px;
    /* color de fondo del cajon */
    background-color: rgb(247, 242, 242);
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    
  }
  
  label { /* titulo*/
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #c93cb1;
    margin-bottom: 26px;
    
  }

  
  .ShopForm-buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
  }
  
  /* Cancelar y Añadir*/
  .ShopForm-button {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #c93cb1;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-radius: 2px;
    border: none;
    font-family: 'Montserrat';
    font-weight: bold;
    
  }
  
  .ShopForm-button--add {
    background: #61d9fad2;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    border-radius: 50px
  }
  
  .ShopForm-button--cancel {
    background: transparent;
  }