
body {
  margin: 0;
  padding: 0;
  /* background-image: url('./Imagen/corazon.png'); */
  
  background: #6a9229;
  color: #3d3d99;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}



#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
